<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# CAPSTONE: Predicting Animal Adoption

---
# Section 1

---

## Problem Statement

Predict if a dog will be adopted within a timeframe with the goal of maximizing dog adoptions.\
I plan to run models on each outcome jurisdiction with the hope that these jurisdictions could work together to prioritize maximum number of successful adoptions.

### Data Source
* https://data.sonomacounty.ca.gov/Government/Animal-Shelter-Intake-and-Outcome/924a-vesw/data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('./data/Animal_Shelter.csv')

In [6]:
df.head()

,Name,Type,Breed,Color,Sex,Size,Date Of Birth,Impound Number,Kennel Number,Animal ID,...,Intake Subtype,Outcome Type,Outcome Subtype,Intake Condition,Outcome Condition,Intake Jurisdiction,Outcome Jurisdiction,Outcome Zip Code,Location,Count
0,NaN,OTHER,BAT,BROWN,Unknown,SMALL,NaN,K20-037535,TRUCK,A401785,...,FIELD,EUTHANIZE,FRA,UNTREATABLE,UNTREATABLE,COUNTY,SANTA ROSA,95404.0,"95404(38.458384, -122.675588)",1
1,NaN,DOG,LABRADOR RETR,BLACK/WHITE,Female,PUPPY,09/12/2020,K20-037525,DS49,A401754,...,FIELD,NaN,NaN,UNKNOWN,NaN,SANTA ROSA,NaN,NaN,NaN,1
2,RUBY,DOG,PARSON RUSS TER/MIX,WHITE/BLACK,Spayed,SMALL,NaN,K20-037538,DQ117,A401786,...,FIELD,NaN,NaN,UNKNOWN,NaN,SANTA ROSA,SANTA ROSA,95404.0,"95404(38.458384, -122.675588)",1
3,NaN,CAT,SIAMESE/MIX,SEAL PT,Female,SMALL,12/15/2019,K20-037532,SMM,A401775,...,OVER THE COUNTER,NaN,NaN,UNKNOWN,NaN,COUNTY,NaN,NaN,NaN,1
4,*KATNISS,DOG,AUST KELPIE/MIX,BLACK/WHITE,Female,MED,10/21/2017,K20-037135,DA14,A401065,...,FIELD,TRANSFER,NaN,HEALTHY,TREATABLE/MANAGEABLE,SANTA ROSA,OUT OF COUNTY,95111.0,"95111(37.283205, -121.827219)",1

In [10]:
df.shape

(20444, 24)

In [8]:
df.isnull().sum()

Name                    5233
Type                       0
Breed                      0
Color                      0
Sex                        0
Size                      31
Date Of Birth           4939
Impound Number             0
Kennel Number             12
Animal ID                  0
Intake Date                0
Outcome Date             116
Days in Shelter            0
Intake Type                0
Intake Subtype             0
Outcome Type             121
Outcome Subtype          366
Intake Condition           0
Outcome Condition        392
Intake Jurisdiction        0
Outcome Jurisdiction    2875
Outcome Zip Code        2911
Location                2911
Count                      0
dtype: int64

In [15]:
df['Outcome Jurisdiction'].unique()

array(['SANTA ROSA', nan, 'OUT OF COUNTY', 'COUNTY', '*PETALUMA',
       '*COTATI', '*WINDSOR', '*ROHNERT PARK', '*CLOVERDALE',
       '*HEALDSBURG', '*SONOMA', '*SEBASTOPOL', 'UNKNOWN'], dtype=object)